<!-- Describe task in general -->

<p>
    给你一个字符串，你必须找到它的第一个单词。
</p>

<ul>
    <li>输入的字符串只由英文字母和空格组成。</li>
    <li>在字符串的开头和结尾没有任何空格。</li>
</ul>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>A{% if is_js %}string<span>(string)</span>{% else %} string<span>(str)</span>{% endif %} 。
</p>

<p>
   <strong>输出：</strong>A{% if is_js %}string<span>(string)</span>{% else %} string<span>(str)</span>{% endif %}. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>如何使用它： </strong>
    <i>第一个词是命令行中的一个命令。</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件：</strong>
    <i>该文本可以包含a-z、A-Z和空格。</i>
</p>
